/*@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900');*/
/* ==========================================================================
   Gobal Styles
   ========================================================================== */
/* ==========================================================================
   Google Font Loader
   ========================================================================== */
/* ==========================================================================
   Common Styles
   ========================================================================== */
/*body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  overflow-x: hidden;
   fixing the overflow duting animation 
  color: #444;
  height: 100%;
}*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
   font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    
    color: white;
    
    overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
    color: #fff;
    background-color: #8167a9;
}
::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}


/*
 *  STYLE 1
 */

body::-webkit-scrollbar{width:1px;height:1px;}
body::-webkit-scrollbar-track{box-shadow:inset 0 0 6px rgba(0,0,0,.3)}
body::-webkit-scrollbar-thumb{background-color:#ffbc00;border-radius:20px;outline:#708090 solid 1px}

h5{
        font-size: 16px;
    font-weight: 400;
    color: #ffcd30;
}